/* html{
	height: 100%;
} */


.container{
    width: 100vw;
    max-width: 100%;
	height: 100vh;
    min-width: 600px;
    position: relative;
	display: flex;
    justify-content: center;
    overflow: hidden;
}


.name {
    font-size: 80px;
    text-align: center;
    margin: 0px;
}
.quote {
    font-weight: lighter;
    font-style: italic;
    text-align: center;
    font-size: 30px;
}


.rain{

    z-index: -1;
	/* position: relative; */
	width: 100%;
	height: 100%;

}

.rain:nth-of-type(1){
	--duration: 1s;
	--delay: .5s;
	/* transform: translate(10%, 10%) scale(0.9);  */
}

.drop{
	background-color: rgb(0, 0, 0);
	width: 2px;
	height: 100px;
	position: absolute;
	top: 40vh; 
	left: 50vw;
    opacity: 0;
	animation-name: fall;
	animation-duration: var(--duration);
	animation-delay: var(--delay);
	animation-iteration-count: 1;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

@keyframes fall{
	0%{
        height: 50px;
		transform: translateY(-75vh);
        opacity: 1;
	}
    25% {
        height : 100px;
        opacity: 1;
    }
	100%{
        transform: translateY(0);
		opacity: 0;
        height: 0px;
	}
}

.namecard {
    position: relative;
    top: 30vh;
    z-index: 1;
    display: flex;
    flex-direction: column;
    animation-name: clip-mask;
    animation-duration: 2s;
	animation-delay: var(--duration);
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
    clip-path: circle(0%);
}

@keyframes clip-mask {
    0%{
		clip-path: circle(0%);
		opacity: 1;
	}


	100%{
		clip-path: circle(100%);
        opacity: 1;

	}
}




.links {

    position: absolute;
    width: 100%;
    top: 75vh;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    
}

a{
    color: black;
}

.links div {
    padding: 1em 2em;
    border-radius:  10%;
    border: solid black 2px;
    transition: .5s;
    animation-duration: .5s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    opacity: 0;
    
}
.links div:hover,
.links div:focus,
.links div:active {
    scale: 1.15;
    border-color: var(--border-color);
}
.LinkedIn{
    animation-name: left-float-in;
    animation-delay: 2.5s;
    --border-color: #3777FF;
}
.GitHub {
    animation-name: above-float-in;
    animation-delay: 2.75s;
    --border-color: #72E1D1;
}
.Resume {
    animation-name: below-float-in;
    animation-delay: 3.0s;
    --border-color: #DCAB6B;
}
.PersonalEmail {
    animation-name: right-float-in;
    animation-delay: 3.25s;
    --border-color: #B8336A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    transition: 1s;
}

.EmailClicked {
    display: none;
}


.PersonalEmail:active {
    border-color: #72E1D1;
    
}

@keyframes left-float-in {
    0% {
        transform: translateX(-15%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes above-float-in {
    0% {
        transform: translateY(-15%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes below-float-in {
    0% {
        transform: translateY(15%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes right-float-in {
    0% {
        transform: translateX(15%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}





