.waves > div{
	position: absolute;
    opacity: 0;
	/* top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px; */

	border-radius: 50%;
	border: solid black 4px;
	animation-name: spread;
	animation-duration: 4s;
	animation-delay: var(--duration);
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-fill-mode: forwards;
}

.waves > div:nth-child(2){
	animation-delay: calc(var(--delay) + .7s);
	animation-timing-function: linear;
}

@keyframes spread{
	0%{
		transform: scale(0);
		opacity: 1;
	}

	100%{
		transform: scale(4,4);
        border: 20%;
		opacity: 0;
	}
}