.structure {
    width: 100vw;
    max-width: 100%;
	height: auto;
    max-height: fit-content;
    position: relative;
	display: flex;
    justify-content: center;

}
.img{
    margin-top: 2%;
    width: 50%;
    height: 100%;
    border: solid rgb(136, 136, 255) 3px;
}

.links {
    position: relative;
    margin-top: 2%;
    display: flex;
    justify-content: space-evenly;
}
.links div {
    padding: 1em 2em;
    border-radius: 10%;
    border: solid black 2px;
    transition: .5s;
}
.links div:hover,
.links div:focus,
.links div:active {
    scale: 1.15;
    border-color: var(--border-color);
}